extends ../_includes/layout

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      .home__gallery
        each media in home.data.gallery

      a(href="/collections")=home.data.link
